@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.homeh1 {
  font-family: 'Inconsolata', monospace;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

html {
  font-family: 'Inconsolata', monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #191919;
  color: white;
  overflow-wrap: break-word;
}

.codebox {
  background-color: #252525;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #262626;
  font-family: 'Inconsolata', monospace;
}

.lowerRight {
  margin-bottom: 5px;
  margin-right: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}

input {
  color: #909090;
  background-color: #191919;
  border-radius: 5px;
  border: 1.5px solid #404040;
  padding: 5px 10px;
  font-size: 20px;

  outline-width: 0px;
  outline-style: solid;
  outline-color: #404040;

  font-family: 'Inconsolata', monospace;
  transition: all 0.3s ease-in-out;
  height: 50px;
  width: 500px;

  /* center placeholder text scale */
  text-align: center;
  text-align-last: center;
  text-justify: center;
}

::placeholder {
  color: #909090;
  opacity: 1;
}

input:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: gray;
  transition: all 0.3s ease-in-out;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #191919;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-family: Inconsolata;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #404040;
}

.popup .close:hover {
  color: #909090;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.button {
  background-color: #252525;
  border: 1px solid #262626;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #8a8a8a;
  border: 1px solid #252525;
  color: black;
  transition: all 0.5s ease-in-out;
}

a {
  color: gray;
  background-color: transparent;
  text-decoration: underline dashed; /* Use 'dotted' to create interrupted lines */
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline dashed; /* Apply the same style on hover */
  transition: all 0.2s ease-in-out;
}

p {
  font-family: 'Inconsolata', monospace;
}