<html>

<head>
    <title>srtd</title>
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7761166536277043"
     crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">srtd</h1>
        <form class="center" method="POST" action="/shorten">
            <input type="text" name="url" placeholder="Enter URL">
        </form>
    </div>
</body>

</html>